*{
	margin: 0;
	padding: 0;
}
html body{
	width: 100%;
}
ul li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
	vertical-align: middle;
}
/*top*/
.top {
  line-height: 12px;
}
.fr {
	width: 1200px;
	height: 40px;
    margin:0 auto;
    text-align: right;
}
.fr li {
    display: inline-block;
}
.icon_page img{
	width: 40px;
	height: 40px;
}
.pnum{
	margin-right: 100px;
}
.topNav{
	line-height: 40px;
	margin-right: 50px;
}
/*header*/
#header{
	 display:block; /*
	 padding-top: 35px*/
}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
#header .first-nav{
	position:static;
}
#header .xiexian{
	float:left; 
	margin-top:48px;
}

#header .menuli{
	text-align:center; 
	line-height:52px; 
	position:relative;
	float: left;
	padding-right: 40px;
	padding-left: 40px;
}
#header .menuli a.one{
	font-size:18px; 
	color:#666; 
	display:block; 
	padding-top:40px; 
	padding-bottom:40px;
}
#header .menuli a.one:hover{
	color:#000;
	text-decoration:none;
}
/*logo*/
#header .logo{
	 float: left;
}
#header .sec-nav{ 
	position:absolute;
	left:0%; 
	top:94px;  
	width:100%; 
	overflow:hidden;
	z-index:1000;
	display:none; 
	opacity:0;
	background:url(../img/menutopsanjiao.png) no-repeat top center; 
	padding-top:8px;
}
/*headerfl*/
#header .sec-nav .fl{
	margin:0 auto; 
	text-align:center; 
	overflow:hidden; 
	padding-top:0;
}
#header .sec-nav .fl a{
	color:#999; 
	line-height:36px; 
	display:block; 
	background:#f6f6f6;
}
#header .sec-nav .fl a:hover{
	color:#000; 
	text-decoration:underline;
}
#header .sec-nav .fr{
	width:70%; 
	float:left; 
	overflow:hidden;
}
/*轮播图main*/
/*#main{
	position:relative;
	width:;
	height:577px;
	margin-bottom:32px;
	display:block;

}
.flexDirection a{
	display: block;
	width: 30px;
	height: 57px;
	position: absolute;
	top: 50%;
	margin:-32px 0 0;
	z-index: 10;	
	overflow: hidden;
	cursor:pointer;
	color: rgba(0,0,0,0.8); 
}
.flexDirection .flexPrev{
	background: url(../img/leftbutton.png) no-repeat;
	left: 100px;
}	
.flexDirection .flexnext{
	background: url(../img/rightbutton.png) no-repeat;
	right: 100px;
}*/
.
/*maincon*/
#maincon{
	width:100%; 
	overflow:hidden;
}
#maincon .maincon{
	width:100%; 
	overflow:hidden;
	margin-top: 32px;
}
.rowa{
	/*display: flex;*/
	margin:0px;
}
.mainconRight{
	width: 50%;
	float: right;
}
.mainconLeft{
	width: 50%;
	float: left;
}
.maincon .mainconOne{
	display:block; 
	position:relative;
}	
.maincon .mainconOne .tb{
	overflow:hidden; 
	position:absolute; 
	bottom:40px; 
	left:42px;
}
.maincon .mainconOne .tb .t{
	font-size:2.25rem; 
	color:#140d0a; 
	line-height:187.5%;
}
.maincon .mainconOne .tb .b{
	font-size: 2rem; 
	color:#140d0a; 
	line-height:102%;
}
/*mainbrand*/
#mainbrand{
	width:100%; 
	overflow:hidden;
}

.mainbrandtitle{
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.mainbrandtitle .rowz{
	margin: 50px 0;
	text-align: center;
	font-size: 2.375rem;
	color: #140d0a;
}
.mainbrandtitle .rowz img{
	margin: 0 40px;
	height: 38px;
}
.mainbrand .row .brandli{
	position:relative;
}
.mainbrand .row .brandli{
	padding-right: 10px;
	padding-left: 10px;
}
.mainbrand .row .brandli .brandtext{
	width:42%;
	height:49%;
	position: absolute;
	top: 2%;
	left: 45%;
	margin-left: -21%;
	margin-top: 17%;
	background: rgba(255,255,255,.8);
	text-align: center;
	display: none;
}
#mainbrand .mainbrand .row .brandli a.brandtext .btt{
	font-size:2.875rem; 
	color:#9d9c9a;  
	margin-top:20%;
}
#mainbrand .mainbrand .row .brandli a.brandtext .btb{
	font-size:1.5rem; 
	color:#333; 
}
#mainbrand .mainbrand .row .brandli a.brandtext .bimg{
	width:20%; 
	position:absolute; 
	right:-9%; 
	top:41%;
}
/*mainfenxiang*/
#mainfenxiang{
	width:100%; 
	overflow:hidden; 
	background:#f6f6f6; 
	padding:30px 0;
	margin-top: 15px;
}
#mainfenxiang .fenxt{
	font-size:1.125rem; 
	color:#666; 
	line-height: 176%; 
	text-align:center;
}

/*footernav*/
#footernav{
	width: 100%;
	overflow: hidden;
	background: #2e2e2e;
	border-bottom: 1px solid #4c4c4c;
	padding-bottom: 45px;
}
.footernav{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: table;
}
.rows {
	width: 1200px;
}
.fnav{
	text-align: center;
	float: left;
	padding-right: 15px;
    padding-left: 15px;
}	

.fnt{
	width: 170px;
	font-size: 1rem;
    color: #fff;
    display: block;
    line-height: 380%;
	
}
.fnb{
	font-size: 0.875rem;
    color: #999;
    display: block;
    line-height: 180%;
}
/*footer*/
#footer{
	width:100%; 
	overflow:hidden; 
	background:#2e2e2e; 
	font-size:0.75rem; 
	color:#999; 
}
.footer{
	width: 1200px;
	margin:5px auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer .fleft{ 
	float:left;
	text-align:center;
	padding-bottom:10px;
}
#footer .footer .fleft img{
	width:20px; 
	height:30px;
	margin-top: 5px;
}
#footer .fleft a{
	color:#2e2e2e;
}
#footer .fright{
	text-align:right;
	float: right;
}


/*lunbotu*/
*{margin:0; padding:0; list-style:none; }
body{ 
	background:#fff; 
	width:100%;
}
img{ 
	border:0;  
}
a{ 
	text-decoration:none; 
	color:#333;  
}
a:hover{ 
	color:#1974A1;  
}
.js{
	width:90%; 
	margin:10px auto 0 auto; 
}
.js p{ 
	padding:5px 0; 
	font-weight:bold; 
	overflow:hidden;  
}
.js p span{ 
	float:right; 
}
.js p span a{ 
	color:#f00; 
	text-decoration:underline;   
}
.js textarea{ 
	height:100px;  
	width:98%; 
	padding:5px; 
	border:1px solid #ccc; 
	border-top:2px solid #aaa;  
	border-left:2px solid #aaa;  
}

/* 本例子css */
.focusBox { 
	position: relative; 
	width:100%; /*
	height:638px; */
	overflow: hidden; 
}
.focusBox .pic img { 
	width:100%; 
	display: block; 
}
.focusBox .hd { 
	overflow:hidden; 
	zoom:1; 
	position:absolute; 
	bottom:2px; 
	right:690px; 
	z-index:3
}
.focusBox .hd li{
	float:left; 
	line-height:15px; 
	text-align:center; 
	font-size:12px; 
	width:40px; 
	height:8px; 
	border-radius: 80px;
	cursor:pointer; 
	overflow:hidden;
	background:#fff;
	margin-left:15px; 
	filter:alpha(opacity=80); 
	opacity:.8; 
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.focusBox .hd .on{ 
	background:#fe6908; 
	filter:alpha(opacity=100);opacity:1;   
}

.focusBox .prev,
.focusBox .next { 
	width:45px; 
	height:99px;
	position:absolute; 
	top:280px; 
	z-index:3; 
	filter:alpha(opacity=20); 
	-moz-opacity:.2; 
	opacity:.2; 
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease
}
.focusBox .prev { 
	background-image:url(../img/index.png); 
	background-position:-112px 0; 
	left:0 
}
.focusBox .next { 
	background-image:url(../img/index.png); 
	background-position:-158px 0; right:0 
}
.focusBox .prev:hover,
.focusBox .next:hover { 
	filter:alpha(opacity=60); 
	-moz-opacity:.6; 
	opacity:.6 
}